* {
  box-sizing: border-box;
}

html,
body,
#root,
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  /* fontFamily: 'Bebas Neue', fontSize: '1em', fontWeight: '24', opacity: '100%', letterSpacing: '0.04em' */
}

body {
  background: #242424;
  color: rgb(255, 255, 255);
}

a {
  color: rgb(252, 252, 252);
}

a {
  pointer-events: all;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 4s ease 0.5s forwards;
}




.gameContainer {
  /* background-color: #c4c4c4; */
  position: relative;
  background-color: rgba(60, 60, 60, 0.6);
  pointer-events: all;
  /* top: 120px; */
  align-self: center;
}

/* #fc543c; */
.cell {
  background: #7b7b7b;
  /* background: rgba(169, 169, 169, 0.9); */
  border: 1px solid #fff;
  float: left;
  line-height: 40px;
  height: 40px;
  text-align: center;
  width: 40px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  transition: background-color 0.2s;

  font-family: 'Bebas Neue';
  font-weight: 24;
}

.hidden {
  background: rgb(60, 60, 60);
}

.cell.hidden:hover {
  background-color: rgb(84, 84, 84);
}

.is-flag,
.is-questioned,
.is-mine {
  /* color: #222222; */
  color: #fc543c;
}